/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/keys/firebase-adminsdk.json
/storage/keys/gcp-service-account.json
/storage/keys/*.json
/storage/app/public/postman/*.json
/storage/framework/views/*.php
/storage/logs/*.log
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.claude
bootstrap/cache/*.php
